doctype html
html
  head
    title Vivek Dance Academy
    block scripts
    block style 
      
  body
  nav#navbar 
            ul
               div#logo
                   img(src="/static/img/logo.png", alt="Image not found")
                   | VDA 
               li #[a(href='/') Home]  
               li #[a(href='/') About]  
               li #[a(href='/') Services] 
               li #[a(href='/') Class Info]  
               li #[a(href='/contact') Contact us]  
  block content
  footer#footer 
       | Copyright © 2023 VivekDanceAcademy.com  | All rights reserved.